@use '../../styles/utils' as *;

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background;
    flex: 1;
    padding: 1.5em 0;
    gap: 1.5em;

    &_header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1em;

        h1, p {
            color: white;
            font-size: 2em;
            font-weight: bold;
        }

        &_form {

            &_btn, &_input {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 1em;

                input {
                    display: flex;
                    max-width: 12em;
                    padding: 0.5em;
                }

                button {
                    display: inline-block;
                    width: 7em;
                }
            }
        }

        button {
            margin-top: 1.5em;
        }
    }

    &_account {
        background-color: white;
        padding: 1.5em;
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 1440px;

        &_infos {
            h3 {
                font-weight: normal;
                font-size: 1em;
            }

            &_amount {
                font-size: 2.5em;
                font-weight: bold;
                color: $secondary;
            }
        }

        button {
            width: 100%;
            font-size: 1.1em;
            padding: 0.5em 0 !important;
            height: fit-content;
        }

        @include device-size(medium) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
                width: 12.5em;
            }
        }
    }
}