@use 'utils' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    margin: 0 auto;
    font-family: $font;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    a {
        text-decoration: none;
        width: fit-content;
    }

    button,
    input[type='button'] {
        background-color: transparent;
        border: none;
    }

    a,
    button {
        cursor: pointer;
        color: black;
    }

    .green_btn {
        display: inline;
        border-color: $primary;
        background-color: $primary;
        color: white;
        font-weight: bold;
        padding: 0.8em 1em;
        border-style: outset;
        border-width: 0.12em;

        &:active {
            border-style: inset;
        }
    }

    .error {
        color: red;
        font-size: 0.8em;
    }

    ul {
        list-style: none;
    }
}